In [71]:
# Importing libraries
import pandas as pd
import numpy as np

In [72]:
# Read csv file into a pandas dataframe
df = pd.read_csv("employees.csv")

In [73]:
print(df.head())

  First Name  Gender  Salary Bonus % Senior Management             Team
0    Douglas    Male   97308   6.945              TRUE        Marketing
1     Thomas    Male   61933     NaN              TRUE              NaN
2      Maria  Female  130590  11.858             FALSE          Finance
3      Jerry    Male     NaN    9.34              TRUE          Finance
4      Larry    Male  101004   1.389              TRUE  Client Services

In [74]:
print(df.shape[0])

1000

In [82]:
df1 = df.dropna(axis=0)
df1.isnull().sum()

First Name           0
Gender               0
Salary               0
Bonus %              0
Senior Management    0
Team                 0
dtype: int64

In [83]:
df1.shape[0]

755

In [84]:
print(df1.head())

  First Name  Gender  Salary Bonus % Senior Management             Team
0    Douglas    Male   97308   6.945              TRUE        Marketing
2      Maria  Female  130590  11.858             FALSE          Finance
4      Larry    Male  101004   1.389              TRUE  Client Services
5     Dennis    n.a.  115163  10.125             FALSE            Legal
6       Ruby  Female   65476  10.012              TRUE          Product

In [85]:
df1.to_csv('outputdataset.csv')